alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

rule_files:
  - "rules/*.yml"

scrape_configs:
  - job_name: "metis-sequencer-exporter"
    scrape_interval: 15s
    static_configs:
      - targets: ["metis-sequencer-exporter:21012"]
  - job_name: "node-exporter"
    static_configs:
      - targets: ["node-exporter:9100"]
