name: docker

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  docker-build-push:
    concurrency: "build"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: metisdao
          password: ${{ secrets.METIS_DOCKER_ACCESS_KEY  }}

      - name: Docker meta for reward submitter
        id: docker-meta
        uses: docker/metadata-action@v5
        with:
          images: metisdao/sequencer-exporter

      - name: Build and push
        uses: docker/build-push-action@v6
        timeout-minutes: 10
        with:
          push: true
          tags: ${{ steps.docker-meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64
          provenance: false
          sbom: false
